body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    /* background: #fff; */
    /* color: #000000; */
    margin: 0;
    /* border-top: 3px solid #1692cc; */
}

/* .org-src-container { */
/*     border: 5px solid #000000; */
/*     border-radius: 3px; */
/*     background-color: white; */
/*     padding: 8pt; */
/*     font-family: monospace; */
/*     overflow: auto; */
/*     margin: 1.2em; */
/* } */
