@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');


.title {
    text-align: center;
}

.org-src-container {
    border: 3px solid #000000;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 8pt;
    /* font-family: 'Jetbrains Mono', monospace; */
    /* font-family: 'Fira Code', monospace; */
    overflow: auto;
    margin: 1.2em;
}
/* nav li { */
/* 	padding: 0.5ex 0; */
/* } */

/* nav a { */
/* 	padding: 0.2ex 0.4ex; */
/* 	text-decoration: none; */
/* } */

/* ul { */
/*   list-style-type: none; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

/* header { */
/* 	max-width: 65rem; */
/* 	margin: auto 0; */
/* 	padding-top: 2.8em; */
/* } */

body {
    font-family: 'Fira Sans', sans-serif;
    /* font-family: sans-serif; */
    line-height: 1.5;
    font-size: 20px;
    color: #222;
}

/* h1, h2, h3 { */
/*     margin: 0 0 0.35em; */
/* } */

/* h1 { */
/*   font-size: 40px; */
/* } */

/* h2 { */
/*   font-size: 28px; */
/* } */

/* h3 { */
/*   font-size: 20px; */
/* } */

/* p { */
/*     margin: 0 0 1.15em; */
/* } */

/* p + h2 { */
/*     margin-top: 1.5em; */
/* } */
/* body { */
/*     font-family: 'Fira Sans', sans-serif; */
/*     line-height: 1.5; */
/*     font-size: 20px; */
/*     /\* background: #fff; *\/ */
/*     /\* color: #000000; *\/ */
/*     color: #222; */
/*     margin: 0; */
/*     /\* max-width: 1000px; *\/ */
/*     /\* margin-left: auto; *\/ */
/*     /\* margin-right: auto; *\/ */
/*     /\* border-top: 3px solid #1692cc; *\/ */
/* } */

/* .title { */
/*     text-align: center; */
/*     font-weight: 600; */
/* } */

/* a { */
/*     /\* dont underline links; looks ugly *\/ */
/*     text-decoration: none; */
/*     /\* color: #1692cc; /\\* Optional: Customize the link color *\\/ *\/ */
/* } */

/* a:hover { */
/*    /\* but do it when the cursor is on them because then it makes sense *\/ */
/*    text-decoration: underline; */
/* } */

/* h1, h2, h3 { */
/*     margin: 0 0 0.35em; */
/* } */

/* p { */
/*     margin: 0 0 1.15em; */
/* } */
